<% content_for :title, "Doppelkopf" %>

  <div class="row">
    <div class="large-12 columns">
      <h1>Doppelkopf</h1>
      <p>Warte auf Mitspieler...</p>


      	<% @players.each do |player| %>
      		<p>Player : <%=player.email %> </p>
      	<% end %>

		<%=link_to "Join Game", home_join_game_path, method: :post, class: "button button-primary" %>



    </div>
    <%=link_to "Play!", home_create_game_path(players: @players), method: :post, class: "button button-primary" %>
  </div>
 
 
 <%=@player1%>
 <%=@player2%>
 <%=@player3%>
 <%=@player4%>
