<p>//////////////////////</p>

<p>Game Round: <%= @game.round if @game %></p>
<p>Game Next-Player: <%= @game.next_player if @game %></p>
<% if @players %>
	<% @players.each do |player| %>
		<p>Player Name: <%= player.name %></p>
		<p>Player Email: <%= player.email %></p>
		<p>Player Id: <%= player.id %></p>
		<p>----</p>
	<% end %>
<% end %>

<p>//////////////////////</p>